.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .sidebar {
    background-color: #171742;
  }
  
  /* .content {
    background: rgb(26, 30, 80);
    background: linear-gradient(
      45deg,
      rgba(26, 30, 80, 1) 0%,
      rgba(46, 87, 126, 1) 50%,
      rgba(57, 108, 144, 1) 100%
    );
    color: white;
  } */
  
  .chart {
    background-color: #000;
    color: white;
  }
  
  .candle {
    stroke-width: 1;
  }
  
  .candle.up {
    fill: green;
    stroke: green;
  }
  
  .candle.down {
    fill: red;
    stroke: red;
  }
  
  .wick {
    stroke-width: 1;
  }
  
  .wick.up {
    stroke: green;
  }
  
  .wick.down {
    stroke: red;
  }
  
  .cross_hair {
    stroke: white;
    stroke-opacity: 70%;
    stroke-dasharray: 3;
  }
  