.App {
  text-align: center;
  font-size: 1.4vmin;
}

.MuiSelect-icon {
  color: white !important;
  font-size: 2vmin !important;
}

.MuiSelect-select:focus {
  background-color: #323232 !important;
}

.MuiInputBase-input {
  padding: 6px 0 2px;
}

.MuiFormControl-root{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.MuiPaper-rounded {
  border-radius: 0px !important;
}

.MuiPaper-root.MuiTableContainer-root.MuiPaper-elevation1.MuiPaper-rounded.first-row{
  overflow-y: scroll;
  /* height: 17vmin; */
}

.MuiPaper-root::-webkit-scrollbar {
  display: none;
}
